<div class="container-fluid container-home">
  <div class="col-md-12">
    <h1 class="home">You Are Authorized</h1>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
    <h3 class="home"> <%= current_user.nickname %> </h2>
    <h2 class="home"> <%= current_user.email %> </h2>
    <h4 class="home"><%= pluralize(@user_info.starred_repos, 'Repository')%> Starred</h4>
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-default btn-home" %>
    <h2 class="home" id="contrib-sum"> Contribution Summary</h2>
    <br>
    <div class="col-md-4 home">
      <h4>Total Commits</h4>
      <p><%= @user_info.year_commits %></pr>
    </div>
    <div class="col-md-4 home">
      <h4>Current Streak</h4>
      <p><%= @user_info.current_streaks %></pr>
    </div>
    <div class="col-md-4 home">
      <h4>Longest Streak</h4>
      <p><%= @user_info.longest_streaks %></pr>
    </div>
  </div>

  <div class"container">
    <div class="row">

      <div class="col-md-4">
        <h3 class="home">Your Repositories</h3>
        <br>
        <ol>
        <% @user_info.repos.each do |repo| %>
          <p class="home"><%= repo %></p>
        <% end %>
      </div>

      <div class="col-md-4">
        <h3 class="home">Your Followers</h3>
        <br>
        <% @user_info.followers.each do |follower| %>
          <p class="home"><%= follower %></p>
        <% end %>

      </div>

      <div class="col-md-4">
        <h3 class="home">Who You are Following?</h3>
        <br>
        <% @user_info.followees.each do |followee| %>
          <p class="home"><%= followee %></p>
        <% end %>
      </div>

    </div>
  </div>

  <div class"container">
    <div class="row">

      <div class="col-md-4">
        <h3 class="home">Your Organizations</h3>
        <br>
        <% @user_info.organizations.each do |org| %>
          <p class="home"><%= org %></p>
        <% end %>
      </div>

      <div class="col-md-4">
        <h3 class="home">Your Recent Commit Messages</h3>
        <% @user_info.commit_mess.each do |message| %>
        <p class="home"><%= message %></p>
        <% end %>
      </div>

      <div class="col-md-4">
        <h3 class="home">Summary Feed of my Followers</h3>
        <% @user_info.followers_activities.each do |activity| %>
          <p class="home"><%= activity %></p>
        <% end %>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <br>
    <h3 class="home">1507 Git Statistics</h3>
    <br>
    <button class="btn btn-lg btn-default btn-home button1">See Statistics</button>
    <br><br>
  </div>
  <%= render partial: "layouts/stat_board" %>
</div>