<div class="container-fluid container-home">
  <div class="col-md-12">
    <h1 class="home">You Are Authorized</h1>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
    <h2 class="home"> <%= current_user.nickname %> </h2>
    <h2 class="home"> <%= current_user.email %> </h2>
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-default btn-home" %>
  </div>


  <div class="col-md-4">
    <h2 class="home">Your Repos</h2>
    <ul>
    <% @repos.each do |repo| %>
    <li class="home"><%= repo %></li>
    <% end %>
  </div>

  <div class="col-md-4">
    <h2 class="home">Your Followers</h2>
    <ul>
    <% @followers.each do |follower| %>
    <li class="home"><%= follower %></li>
    <% end %>
  </div>

   <div class="col-md-4">
    <h2 class="home">Who You are Following?</h2>
    <ul>
    <% @followees.each do |followee| %>
    <li class="home"><%= followee %></li>
    <% end %>
  </div>


<div class="container">
  <div class="col-md-12">
    <%= link_to "1507 Statistics", root_path, class: "btn btn-lg btn-default btn-home" %>
    </div>
</div>

