<div class="container-fluid container-home">
  <div class="col-md-12">
    <h1 class="home">You Are Authorized</h1>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
    <h3 class="home"> <%= current_user.nickname %> </h2>
    <h2 class="home"> <%= current_user.email %> </h2>
    <h4 class="home"><%= pluralize(@user_info.starred_repos, 'Repository')%> Starred</h4>
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-default btn-home" %>
    <h2 class="home" id="contrib-sum"> Contribution Summary</h2>
    <br>
    <div class="col-md-4 home">
      <h4>Total Commits</h4>
      <p><%= @user_info.year_commits %></pr>
    </div>
    <div class="col-md-4 home">
      <h4>Current Streak</h4>
      <p><%= @user_info.current_streaks %></pr>
    </div>
    <div class="col-md-4 home">
      <h4>Longest Streak</h4>
      <p><%= @user_info.longest_streaks %></pr>
    </div>
  </div>

  <div class"container">
    <div class="row">

      <div class="col-md-4">
        <h3 class="home">Your Repositories</h3>
        <h4 class="home"><%= pluralize(@user_info.repos.count, 'Repository') %></h4>
        <br>
        <ol>
          <% @user_info.repos.each do |repo| %>
            <li class="home"><%= repo %></li>
          <% end %>
        </ol>
      </div>

      <div class="col-md-4">
        <h3 class="home">Your Followers</h3>
        <h4 class="home"><%= pluralize(@user_info.followers.count, 'person') %> are following you</h4>
        <br>
        <ol>
          <% @user_info.followers.each do |follower| %>
          <li class="home"><%= follower %></li>
        <% end %>
        </ol>
      </div>

      <div class="col-md-4">
        <h3 class="home">Who You are Following?</h3>
        <h4 class="home">You are following <%= pluralize(@user_info.followees.count, 'person') %></h4>
        <br>
        <ol>
          <% @user_info.followees.each do |followee| %>
          <li class="home"><%= followee %></li>
        <% end %>
        </ol>
      </div>

    </div>
  </div>

  <div class"container">
    <div class="row">

      <div class="col-md-4">

        <h3 class="home">Your Organizations</h3>
        <h4 class="home"><%= pluralize(@info.organizations.count, 'Organization') %></h4>
        <br>
        <% if @user_info.organizations.nil? %>
          <p class="home">You have no organizations!</p>
        <% else %>
          <ol>
            <% @user_info.organizations.each do |org| %>
              <li class="home"><%= org %></li>
            <% end %>
          </ol>
        <% end %>
      </div>

      <div class="col-md-4">
        <h3 class="home">Your Recent Commit Messages</h3>
        <ol>
          <% @user_info.commit_mess.each do |message| %>
          <li class="home"><%= message %></li>
          <% end %>
        </ol>
      </div>

      <div class="col-md-4">
        <h3 class="home">Summary Feed of my Followers</h3>
        <ol>
         <% @user_info.followers_activities.each do |activity| %>
          <li class="home"><%= activity %></li>
          <% end %>
        </ol>
      </div>

    </div>
  </div>


<div class="container">
  <div class="col-md-12">
    <%= link_to "1507 Statistics", root_path, class: "btn btn-lg btn-default btn-home" %>
    </div>
</div>
