<div class="container commits" id="commits" style="display: none">

    <div class="col-md-4" align="center">
      <h3 class="home">Leaderboard</h3>
        <table class="table home">
          <tr>
            <td>Name</td>
            <td>Commits Since <%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year - 1 %></td>
          </tr>
          <% @stats.ordered_commits.each do |stat| %>
          <tr>
            <td><%= stat.name %></td>
            <td><%= stat.commits %></td>
          </tr>
        <% end %>
      </table>
    </div>

  <div class="col-md-4" align="center" id="completed-orders">
    <h3 class="home">Current Streak</h3>
      <table class="table home">
        <tr>
          <td>Name</td>
          <td>Current Streak</td>
        </tr>
        <% @stats.current_streak.each do |streak| %>
        <tr>
          <td><%= streak.name %></td>
          <td><%= streak.current_streaks %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-4" align="center" id="completed-orders">
    <h3 class="home">Longest Streak</h3>
      <table class="table home">
        <tr>
          <td>Name</td>
          <td>Longest Streak</td>
        </tr>
        <% @stats.longest_streak.each do |streak| %>
        <tr>
          <td><%= streak.name %></td>
          <td><%= streak.streaks %></td>
        </tr>
      <% end %>
    </table>
  </div>